
<div class="full-body">
    <div class="container">
      <div class="master-signin-container">
        <div class="signin-container">
    
          <div class="description">
            <h1>Sign In</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
          </div>
    
          <div class="field">
            <form action="" class="form-field">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input class="input-field" matInput placeholder="" [(ngModel)]=userName name="userName" required>
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input class="input-field" matInput placeholder="" [(ngModel)]=password name="password" required>
              </mat-form-field>
    
              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required />
                <label class="form-check-label" for="form2Example3">
                  I agree all statements in <a href="#!">Terms of service</a>
                </label>
              </div>
    
              <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"> -->
                <button type="button" class="signin-button" (click)="signin(userName,password)">Sign
                  In</button>
              <!-- </div> -->
                  <div class="line"></div>
              <div class="register-route">
                <h6>Dont Have a Account ?</h6>
                <button routerLink="/register" class="register-button">Register</button>
              </div>
    
            </form>
          </div>
        </div>
    
      </div>
    </div>
    </div>
    <app-footer></app-footer>