<div class="request-form">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="form-container">
                <form action="" class="form">


                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="request.name">
                    </mat-form-field>



                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput type="number" placeholder="Phone" name="phone" [(ngModel)]="request.phone">
                    </mat-form-field>



                    <mat-form-field appearance="outline">
                        <mat-label>Email(Optional)</mat-label>
                        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="request.email">
                    </mat-form-field>



                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" placeholder="Address" name="address" [(ngModel)]="request.address">
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>Identity</mat-label>
                        <input matInput type="text" placeholder="Identity" name="identity" [(ngModel)]="request.identity">
                    </mat-form-field>


                </form>

                <button class="btn request" (click)="volenteerRequest()">Submit</button>

            </div>
        </div>
    </div>
</div>