
.proof{
    background-color: white;
    border: 1px solid black;
    /* border-bottom: 10px sloid rgb(0, 0, 0); */
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.679) 0px 5px 15px;

    /* background-color: black; */
}

.proof-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.niti-aayog-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.picture{
    height: 100px;
}