<div class="proof" id="myDiv">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="proof-container">
                <div class="niti-aayog-logo">
                    <img class="picture" src="../../../assets/images/logo/nitihead.jpg" alt="">
                    <div class="iso-confirmation">
                        <h3>ISO 9001:2015</h3>
                        <p>Certified Organization, Registered under Niti Aayog Vide Unique ID no. - WB/2020/0267206 </p>
                    </div>
                </div>


                <div class="uno-logo">
                    <img class="picture" src="../../../assets/images/logo/uno.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>