<div class="bootstrap-wrapper">
    <div class="container">

        <div class="container">

            <div class="about-section">
                <div class="section">
                    <h2>About Visionlife Human Rights Foundation (VHRF)</h2>
                    <ul>
                        <li>Established on October 7, 2020, registered under section 8 of the Companies Act, 2013.</li>
                        <li>Recognized by NITI Aayog, Government of India, with registration number WB/2020/0267206.
                        </li>
                        <li>Dedicated to raising awareness about human rights laws in India.</li>
                        <li>Mission is to protect and promote human rights, combat issues such as child labor and
                            women's rights violations.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Our Mission</h2>
                    <ul>
                        <li>Create a society where human welfare knows no boundaries of caste, religion, or social
                            status.</li>
                        <li>Foster harmony and unity while safeguarding human rights.</li>
                        <li>Work hand in hand with government authorities to eliminate corruption and promote a culture
                            of respect for fundamental human rights.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Our Vision</h2>
                    <ul>
                        <li>Extend services nationwide to serve the cause of human welfare, peace, harmony, and unity.
                        </li>
                        <li>Collaborate closely with governmental bodies to eradicate corruption and uphold human rights
                            at all levels of society.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Objectives</h2>
                    <ul>
                        <li>Educate every individual about their human rights as enshrined in the Indian Constitution,
                            particularly those outlined in Part III.</li>
                        <li>Remain in constant communication with the National Human Rights Commission (NHRC), adhering
                            to their guidelines while spreading awareness about fundamental rights.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Chairman’s Message</h2>
                    <ul>
                        <li>Human rights stem from innate humanity, evolving with us from birth to death.</li>
                        <li>Prioritize social justice over divisive politics.</li>
                        <li>Empower individuals to assert their rights peacefully and justly, fostering a society free
                            from corruption and crime for future generations.</li>
                    </ul>

                    <div class="thank-section">
                        <p>Thank you,</p>
                        <p>Kuldip Kumar Singh</p>
                        <p>National President, VHRF</p>
                    </div>

                </div>
            </div>

            <footer>
                <h6>© Visionlife Human Rights Foundation | Developed by M.M. Group</h6>
            </footer>

        </div>

    </div>
</div>