<div class="nav">
    <div class="container">
        <div class="nav-container">
            <div class="contact">
                <div class="line"></div>
                <li><a href="tel:+919641087442">☎  +91 9641087442</a></li> 
                <div class="line"></div>
                <li><a href="tel:7908009233">☎ Helpline: 7908009233</a></li>
                <div class="line"></div>
                <li><a href="mailto:mail.google.com/vhrfdelhi@gmail.com">vhrfdelhi&#64;gmail.com</a></li>
            </div>

            <div class="social-links">

                <li class="img facebook-logo"> <a href=""> <img src="../../../assets/images/logo/facebook.png"
                            alt=""></a> </li>
                <li class="img linkedin-logo"> <a href=""> <img src="../../../assets/images/logo/LinkedIn.png"
                            alt=""></a> </li>
                <li class="img instagram-logo"> <a href=""> <img src="../../../assets/images/logo/OIP.jpg" alt=""></a>
                </li>
                <li class="img youtube-logo"> <a href=""> <img src="../../../assets/images/logo/yt.png" alt=""></a>
                </li>

            </div>
        </div>
    </div>
</div>