<div class="legal">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="button-container">
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        description
                    </span>
                    CIRCULAR</a>

                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        library_books
                    </span>
                    LEGAL CERTIFICATE</a>

                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        gavel
                    </span>
                    IPC ACT</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        content_paste
                    </span>
                    HUMAN RIGHTS ACT</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        gavel
                    </span>
                    CRPC ACT</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        gavel
                    </span>
                    RTI ACT</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        account_balance
                    </span>
                    INDIAN CONSTITUTION</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        library_books
                    </span>
                    FACTORY LAW</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                    TIR</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                    ANNUAL REPORTS</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                    MOA</a>
                <a href="#" class="button">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                    AOA</a>
            </div>
        </div>

    </div>
</div>