<div class="nav">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img class="logo_img" src="../../../assets/images/logo/logohead2.png" alt="">
            </div>

            <div class="buttons-section">
                <a mat-button routerLink="/homepage">Home</a>
                <a mat-button routerLink="/about">About</a>
                <a mat-button routerLink="/legal">Legal</a>
                <a mat-button routerLink="/gallery">Gallery</a>
                <a mat-button routerLink="">Donate</a>
                <a mat-button routerLink="">Contact</a>
            </div>
        </div>
    </div>
</div>