.nav{
    background-color: transparent;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar{
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    font: 800;
    font-size: 20px;
}

.logo_img{
    height: 60px;
    border-radius: 99px;
}

.buttons-section mat-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.nav{
    background-color: transparent;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar{
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    font: 800;
    font-size: 20px;
}

.logo_img{
    height: 60px;
    border-radius: 99px;
}

.buttons-section mat-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}